<!--  
    File: views/dataTable.ejs 
    Desc: The view that gets rendered in /get-data
-->

<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            table, th, td {
                border: 1px solid black;
            }
            td {
                padding: 5px;
            }
        </style>
    </head>
    <body>
        <h1>Showing results for: US.</h1>

        <table>
            <tr>
                <th>   State    </th>
                <th>   County   </th>
                <th>   Date   </th>
                <th>   Confirmed Cases   </th>
                <th>   Deaths   </th>
            </tr>
            <% var i
               for (i = 0; i < 500; i++) { %>
            <tr>  
                <td>   <%= items[i].state %>   </td> 
                <td>   <%= items[i].county %>   </td>       
                <td>   <%= items[i].date.toDateString() %>   </td>             
                <td>   <%= items[i].confirmed %>   </td>
                <td>   <%= items[i].deaths %>   </td>
            </tr>
            <% } %>
        </table>
    </body>
</html>