<!--  
    File: views/dataTable.ejs 
    Desc: The view that gets rendered in /get-data
-->

<!DOCTYPE html>
<html>
    <body>
        <h1>Showing results for: <%= items[0].country %>.</h1>

        <table>
            <tr>
                <td>Date</td>
                <td><%= items[0].date %></td>
            </tr>
            <tr>
                <td>Total Confirmed Cases</td>
                <td><%= items[0].confirmed %></td>
            </tr>
            <tr>
                <td>Total Deaths</td>
                <td><%= items[0].deaths %></td>
            </tr>
            <tr>
                <td>Total Recovered</td>
                <td><%= items[0].recovered %></td>
            </tr>
        </table>
    </body>
</html>