<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Choropleth Map</title>

    <!-- d3.js libraries -->
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>

    <!-- topojson support -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.2/topojson.min.js" integrity="sha512-4UKI/XKm3xrvJ6pZS5oTRvIQGIzZFoXR71rRBb1y2N+PbwAsKa5tPl2J6WvbEvwN3TxQCm8hMzsl/pO+82iRlg==" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oswald:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/choropleth.css" />
    <link rel="stylesheet" type="text/css" href="/css/line.css" />
    <link rel="stylesheet" type="text/css" href="/css/barchart.css" />
    <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
</head>

<body>
    <%- include('partials/navbar') %>

    <!-- Choropleth -->
    <div id="choroplethContainer" class="container">
        <div id="choroplethCardCounty">
            <div class='flexContainer'>
                <div id='tooltip' class='flexChild'>
                    <div id="statsHeader">
                        <h3 id='stateName'><%- stateName %></h3>
                    <h4 id='population'>Population: </h4>
                    </div>

                    <div id='statsContainer'>
                        <h3>Confirmed Cases</h3>
                        <h4 id='percentageCases'>% of Population: </h4>
                        <h4 id='absoluteCases'>Absolute Number: </h4>

                        <br>
                        <h3>Deaths</h3>
                        <h4 id='percentageDeaths'>% of Population: </h4>
                        <h4 id='absoluteDeaths'>Absolute Number: </h4>

                        <br>
                        <form>
                            <h4>Statistic Being Shown:</h4>

                            <label>
                                Cases
                            <input type="radio" value="cases" name="coloring" checked>
                            </label>

                            <label>
                                Deaths
                            <input type="radio" value="deaths" name="coloring">
                            </label>
                        </form>
                    </div>
                </div>

                <svg id='statePleth' class='flexChild'> </svg>
            </div>
            <svg viewBox="0 0 300 5" id='choroplethLegend'></svg>
            <div id='legendMinLabel'>0%</div>
            <div id='legendMaxLabel'>10%</div>
        </div>
    </div>

    <!-- Line Graph -->
    <div id="linegraphContainer" class="container">
        <h1><center>COVID Data Over Time</center></h1>

        <!-- Graph Div -->
        <div id="my_dataviz"></div>

    </div>

    <!-- Bar Chart -->
    <div id="barchartContainer" class="container">
        <div class="card">
          <div id="countyState"><h2 id = "stateCounty"></h2></div>
          <h3 id = "heading"></h3>
            <!-- To display the data's date -->
            <div id="one"><h3 id ="b1"></h3></div>
            <hr>
            <p style = "font-size: 0.9em"><b><i>You can switch between Absolute Values and Percentages for either Number of Cases (Cases) or Number of Deaths (Deaths).<br>
               After that, you can sort the bars by using the buttons below. (Tip: Use the Highest Ten button when there are too many counties!)<br>
               Hover over the bars to see the specific data for the bar!<br>
            </b></i></p>
            <br>
            <p style = "font-size: 0.88em"><i>(Death Percent = Number of Deaths/ Population <br>
                Cases Percent = Number of Cases/ Population)</i></p>
            <div class="allforms">
            <form>
                <h4>Show:</h4>

                <label>
                    Absolute
                <input type="radio" value="absolute" name="bar" onclick="percentAb(this.value)" checked>
                </label>

                <label>
                    Percent
                <input type="radio" value="percent" name="bar" onclick="percentAb(this.value)">
                </label>
            </form>
            <form>
                <h4>Show:</h4>

                <label>
                    Cases
                <input type="radio" value="Cases" name="bardisplay" onclick="formdisplay(this.value)" checked>
                </label>

                <label>
                    Deaths
                <input type="radio" value="Deaths" name="bardisplay" onclick="formdisplay(this.value)">
                </label>
            </form>
            </div>
            <div>
              <input class = "topten" type="button" value="View Highest Ten By Value" onclick="highestten()">
              <input class = "orderedbtn" type="button" value="Ascending Order: By County" onclick="ascendingC()">
              <input class = "orderedbtn" type="button" value="Descending Order: By Value" onclick="descendingV()">
            </div>
        </div>
            <!-- Create a div where the graph will be -->
        <div id="chart"></div>
        </div>
</body>


<script>
    // Choropleth
    var countyCovidData = <%- JSON.stringify(counties); %>
    var state = <%- JSON.stringify(stateName); %>
    var stateId = <%- JSON.stringify(stateFips); %>

    var stateConf = <%- JSON.stringify(stateConfirmed); %>
    var statePop = <%- JSON.stringify(statePopulation); %>
    var stateDeaths = <%- JSON.stringify(stateDeaths); %>

    // Line Graph
    var dataconfirm = <%- JSON.stringify(data.itemsc); %>;
    var datadeath = <%- JSON.stringify(data.itemsd); %>;

</script>

<script defer src="/scripts/stateChoropleth.js"></script>
<script defer src="/scripts/linegraph.js"></script>
<script defer src="/scripts/stateBarchart.js"></script>

</html>
