<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CoViz</title>

    <!-- d3.js libraries -->
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>

    <!-- topojson support -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.2/topojson.min.js" integrity="sha512-4UKI/XKm3xrvJ6pZS5oTRvIQGIzZFoXR71rRBb1y2N+PbwAsKa5tPl2J6WvbEvwN3TxQCm8hMzsl/pO+82iRlg==" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oswald:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/choropleth.css" />
    <link rel="stylesheet" type="text/css" href="/css/line.css" />
    <link rel="stylesheet" type="text/css" href="/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="/css/barchart.css" />
</head>

<body>
    <%- include('partials/navbar') %>

    <!-- Jumbotron -->
    <div id="jumbotron">
        <div id="titleCard" class="card">
            <h1 class="displayHeader">Welcome to CoViz</h1>
            <h2 id="tagline">A web application for exploring COVID-19 data in the US.</h2>
            <p>Click any of the options below to start exploring the dataset</p>
            <nav>
                <ul>
                    <li><a href="#choroplethHeading">Map</a></li>
                    <li><a href="#linegraphHeading">Timeline</a></li>
                    <li><a href="#heading">Bar Chart</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Choropleth -->
    <div id="choroplethContainer" class="container">
        <div id="choroplethCard">
            <h1 id="choroplethHeading">Choropleth Map of the US</h1>
            <p>This map show the most recent data available regarding confirmed cases and deaths in the US.</p>
            <p>Hover over the different states to get an overview of the statistics, or click on a state to go to a county-level view for that state.<br>
            <div class='flexContainer'>
                <div id='tooltip' class='flexChild'>
                    <div id="statsHeader">
                        <h3 id='stateName'>United States</h3>
                    <h4 id='population'>Population: </h4>
                    </div>

                    <div id='statsContainer'>
                        <h3>Confirmed Cases</h3>
                        <h4 id='percentageCases'>% of Population: </h4>
                        <h4 id='absoluteCases'>Absolute Number: </h4>

                        <br>
                        <h3>Deaths</h3>
                        <h4 id='percentageDeaths'>% of Population: </h4>
                        <h4 id='absoluteDeaths'>Absolute Number: </h4>

                        <br>
                        <form>
                            <h4>Statistic Being Shown:</h4>

                            <label>
                                Cases
                            <input type="radio" value="cases" name="coloring" checked>
                            </label>

                            <label>
                                Deaths
                            <input type="radio" value="deaths" name="coloring">
                            </label>
                        </form>
                    </div>

                </div>

                <svg id='countryPleth' class='flexChild'>
                </svg>
            </div>
            <svg viewBox="0 0 300 5" id='choroplethLegend'></svg>
            <div id='legendMinLabel'>0%</div>
            <div id='legendMaxLabel'>10%</div>
        </div>
    </div>

    <!-- Line Graph -->
    <div id="linegraphContainer" class="container">
        <div id="linegraphCard" class="card">
            <h1 id="linegraphHeading">COVID Data Over Time</h1>
            <!-- Graph Div -->
            <div id="my_dataviz"></div>

        </div>
    </div>

    <!-- Bar Chart -->
    <div id="barchartContainer" class="container">
        <div class="card">
            <h2 id = "heading"></h2>
            <!-- To display the data's date -->
            <div id="one"><h3 id ="b1"></h3></div>
            <hr>
            <p style = "font-size: 0.9em"><i><b>You can switch between Absolute Values and Percentages for either Number of Cases (Cases) or Number of Deaths (Deaths).<br>
               After that, you can sort the bars by using the buttons below.<br>
               Hover over the bars to see the specific data for the bar!<br>
            </b></i></p>
            <br>
            <p style = "font-size: 0.88em"><i>(Death Percent = Number of Deaths/ Population <br>
                Cases Percent = Number of Cases/ Population)</i></p>
            <div class="allforms">
            <form>
                <h4>Show:</h4>

                <label>
                    Absolute
                <input type="radio" value="absolute" name="bar" onclick="percentAb(this.value)" checked>
                </label>

                <label>
                    Percent
                <input type="radio" value="percent" name="bar" onclick="percentAb(this.value)">
                </label>
            </form>
            <form>
                <h4>Show:</h4>

                <label>
                    Cases
                <input type="radio" value="Cases" name="bardisplay" onclick="formdisplay(this.value)" checked>
                </label>

                <label>
                    Deaths
                <input type="radio" value="Deaths" name="bardisplay" onclick="formdisplay(this.value)">
                </label>
            </form>
            </div>
            <div>
              <input class = "topten" type="button" value="View Highest Ten By Value" onclick="highestten()">
              <input class = "orderedbtn"  type="button" value="Ascending Order: By State" onclick="ascendingS()">
              <input class = "orderedbtn"  type="button" value="Descending Order: By Value" onclick="descendingV()">
            </div>
          </div>
            <!-- Create a div where the graph will be -->
            <div id="chart"></div>
        </div>
</body>


<script>
    // Choropleth
    var stateCovidData = <%- JSON.stringify(states); %>

    // Line Graph
    var dataconfirm = <%- JSON.stringify(data.itemsc); %>;
    var datadeath = <%- JSON.stringify(data.itemsd); %>;

    // Bar Chart
    var totRecentData = <%- JSON.stringify(states); %>
</script>

<script defer src="/scripts/choropleth.js"></script>
<script defer src="/scripts/linegraph.js"></script>
<script defer src="/scripts/barchart.js"></script>

</html>
